streamlit
pandas
openpyxl
python-dotenv
psycopg2-binary
pinecone
llama-index-core
llama-parse
llama-index-readers-llama-parse
llama-index-readers-file
llama-index-embeddings-google-genai
llama-index-vector-stores-pinecone
llama-index-llms-groq
google-genai
instructor
ragas
datasets>=2.20.0
